img {
    object-fit: cover;
    width: 500px;
    height: 300px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

#container .left {
    max-width: 400px; 
    display: flex;
    flex-direction: column;
    gap: 10px;
    h1, p {
        margin: 0;
    }
}

#container .left button {
    max-width: 150px;
}